{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Главная {% endblock %} ::
            Каталог товаров
        </title>
        <link rel="stylesheet" type="text/css"
        href="{% static 'catalog/style.css' %}">
    </head>
    <body>
        <header>
            <h1>Товары</h1>
        </header>

        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add' %}">Добавить товар</a>
            {% for type in types %}
                <a href="{% url 'by_type' type.pk %}">{{ type.name }}</a>
            {% endfor %}
        </nav>

        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>